@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply relative z-1 bg-whiten font-satoshi text-base font-normal text-body;
    }
}

@layer components {
}

@layer utilities {
}

input[type="search"]::-webkit-search-cancel-button {
    @apply appearance-none;
}

/* Container holding the 3 blocks */
.TopLeaderboard {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    max-width: 1250px;
    width: 100%;
    flex-wrap: wrap;
}

/* Common styling for all TopLeaderboard cards */
.TopLeaderboard__card {
    flex-grow: 1;
    position: relative;
    border-radius: 10px;
    padding: 1px;
    background: transparent;
    max-width: 390px;
    width: 100%;
}

/* Inner content of each card */
.TopLeaderboard__card-inner {
    background: radial-gradient(circle, #350c4a 0%, #130C1A 70%);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: white;
    position: relative;
    z-index: 1;
    width: 100%;
}

/* Card image */
.TopLeaderboard__card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

/* Content styling */
.TopLeaderboard__card-content .TopLeaderboard__username {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffffff;
}

.TopLeaderboard__card-content .TopLeaderboard__amount {
    font-size: 1rem;
    margin-top: 5px;
    color: #A5A5AB;
}

.TopLeaderboard__card-content .TopLeaderboard__prize {
    font-size: 1.3rem;
    margin-top: 5px;
    color: #FFD700;
    font-weight: bold;
}

/* Mobile Responsiveness */
@media (max-width: 1574px) {
    .TopLeaderboard {
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .TopLeaderboard__card {
        max-width: 100%;
        margin-bottom: 20px;
        width: 50%;
    }

    .TopLeaderboard__card--middle {
        order: -1;
    }

    .TopLeaderboard__card--left {
        order: 0;
        margin-top: 20px;
    }

    .TopLeaderboard__card--right {
        order: 1;
        margin-top: 20px;
    }

    .hide-on-ipad {
        display: none !important;
    }
}

@media (max-width: 762px) {
    .TopLeaderboard__card {
        width: 100%;
    }
}

@media (min-width: 1921px) {
    .TopLeaderboard {
        max-width: 1280px;
    }

    .TopLeaderboard__card {
        max-width: 400px;
    }

    .TopLeaderboard__card-inner {
        padding: 30px;
    }

    .TopLeaderboard__card-content .TopLeaderboard__username {
        font-size: 1.5rem;
    }

    .TopLeaderboard__card-content .TopLeaderboard__amount {
        font-size: 1.2rem;
    }

    .TopLeaderboard__card-content .TopLeaderboard__prize {
        font-size: 1.3rem;
    }
}

/* Inner content of Registerblocks */
.RegisterBlocks-inner {
    background: radial-gradient(at top center, #350c4a 0%, #130C1A 60%);
}

.FooterBg {
    background: linear-gradient(146.19deg, #9925FE -83%, #170D22 109%);
}

.SidebarBg {
    border-right: 1px solid black;
    background: radial-gradient(circle, #350c4a -150%, #130C1A 70%);
}

/* Container holding the leaderboard rows */
.Leaderboard {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    max-width: 1250px;
    width: 100%;
    gap: 20px;
}

/* Styling for each leaderboard row */
.Leaderboard__card {
    position: relative;
    border-radius: 10px;
    padding: 1px;
    background: transparent;
    max-width: 1000px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Inner content styling of each row */
.Leaderboard__card-inner {
    background: radial-gradient(circle, #322341 0%, #322341 80%);
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    color: white;
    position: relative;
    z-index: 1;
    width: 100%;
}

/* Row Content */
.Leaderboard__card .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.TopLeaderboard__number-wrapper {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.TopLeaderboard__number {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background: rgba(0, 224, 255, 0.5);
    padding: 5px 15px;
    border-radius: 50%;
}

.Leaderboard__card .sm\:grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Leaderboard__card .sm\:block {
    display: block;
}

.Leaderboard__rank {
    position: absolute;
    top: -1rem;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right, #FEA613, #9747FF);
    color: white;
    border-radius: 50%;
    padding: 0.5rem;
}
